@font-face { font-family: 'Weiss'; src: url('../assets/fonts/weiss.otf'); }

#addInvitee {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    animation: fadeIn 1.6s;
}

#thanks-text {
    display: none;
    font-size: 3rem;
    font-family: 'Weiss', script;
    text-align: center;
    color: #A96D4F;
    opacity: 0;
    transition: 2s;
}
