#allInvitees {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    animation: fadeIn 1.6s;
    margin-bottom: 2rem;
    font-family: 'Weiss', script;

    table {
        td:not(.column) {
            border: 1px solid black;
            padding: 5px;
        }
    }
}
