#city {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    
    .content-header {
        animation: fadeIn 1.6s;
    }
    
    #city-container {
        animation: fadeIn 1.6s;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex: auto;
        
        .poi-row-container {
            display: flex;
            flex-flow: column nowrap;
            width: 100%;
            margin-bottom: 4rem;
            
            .poi-row-container-header {
                text-transform: uppercase;
                font-family: 'Weiss', script;
                text-align: center;
                font-size: 2rem;
                font-weight: 800;
                letter-spacing: 0.5rem;
                color: #A96D4F;
                margin-block-start: 0;
                margin-block-end: 0;
                margin-bottom: 1rem;
            }
            
            .poi-row {
                display: flex;
                flex-flow: row wrap;
                width: 100%;
                justify-content: space-between;
            }
            
        }
        
        
    }
}

@media only screen and (max-width: 600px) {
    #city {
        #city-container {
            margin: 0 4rem;
            
            .poi-row-container {
                .poi-row-container-header {
                    margin-bottom: 0;
                }
                
                .poi-row {
                    .poi {
                        margin: 1rem;
                    }
                }
            }
        }
    }
}