#content-header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;

    p {
        text-align: center;
        font-family: 'Weiss', script;
        color: #A96D4F;
        font-size: 1.375rem;
        letter-spacing: 0.5rem;
        margin-bottom: 1rem;
    }

    #line {
        width: 1px;
        height: 2.25rem;
        margin-top: 0;
        margin-bottom: 1.375rem;
        background-color: #A96D4F;
    }

    &.small, &.mobile {
        $mobile-scale: 0.75;
        
        p {
            font-size: calc(1.375rem * $mobile-scale);
            letter-spacing: calc(0.5rem * $mobile-scale);
            margin-bottom: calc(1rem * $mobile-scale);
        }

        #line {
            margin-top: 0;
            height: calc(2.25rem * $mobile-scale);
            margin-bottom: calc(1.375rem * $mobile-scale);
        }
    }
}
