#details {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    transition: 1s;
    font-family: 'Weiss', script;
    
    .content-header {
        animation: fadeIn 1.6s;
    }

    #hero-container {
        animation: fadeIn 1.6s;
        max-width: 40rem;
        position: relative;
        transition: 0.5s;
        margin-top: -1.5rem;
        
        img {
            max-width: 100%;
        }
    }
    
    #details-actual {
        animation: fadeIn 1.6s;
        color: #A96D4F;
        text-align: center;
        width: 45rem;
        display: flex;
        flex: auto;
        justify-content: center;
        
        img {
            width: 2rem;
            margin-bottom: 0.25rem;
        }
        
        p {
            margin-block-start: 0;
            margin-block-end: 0;
        }
        
        #datetime {
            margin-left: 3rem;
            margin-right: 6rem;
        }
        
        #date, #venue {
            font-size: 1.75rem;
            font-weight: bold;
        }
        
        #time, #addr {
            font-size: 1rem;
        }
    }
    
    #link-container {
        animation: fadeIn 1.6s;
        display: flex;
        flex-flow: column nowrap;
        flex: auto;
        
        #rsvp-link {
            font-size: 0.75rem;
            color: #ffffff;
            transition: 0.16s;
            margin-top: 2rem;
            width: 6rem;
            text-align: center;
            letter-spacing: 0.25rem;
            background-color: #C2986E;
            padding: 0.65rem;
            padding-top: 0.8rem;
            padding-left: 1.2rem;
            border-radius: 10rem;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);


            &:hover {
                background-color: #A96D4F;
                cursor: pointer;
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    #details {
        #hero-container {
            margin: -1.5rem 3rem 1rem;
        }
        
        #details-actual {
            flex-direction: column;
            align-items: center;
            
            #datetime {
                margin: 0;
            }
            
            #time {
                margin-bottom: 1.5rem;
            }
        }
        
        #rsvp-link {
            margin-top: 0;
        }
    }
}
