#details {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    animation: fadeIn 1.6s;
    transition: 1s;
    font-family: 'Weiss', script;

    #hero-container {
        max-width: 50rem;
        position: relative;
        transition: 0.5s;
        margin-top: -1.5rem;
        
        img {
            max-width: 100%;
        }
    }
    
    #details-actual {
        color: #A96D4F;
        text-align: center;
        width: 40rem;
        display: flex;
        justify-content: space-between;
        margin: 1rem 0;
        
        img {
            width: 2rem;
            margin-bottom: 0.25rem;
        }
        
        p {
            margin-block-start: 0;
            margin-block-end: 0;
        }
        
        #datetime {
            margin-left: 4rem;
        }
        
        #date, #venue {
            font-size: 2rem;
            font-weight: bold;
        }
        
        #time, #addr {
            font-size: 1.25rem;
        }
    }
    
    #rsvp-link {
        font-size: 0.75rem;
        color: #ffffff;
        transition: 0.16s;
        margin-top: 2rem;
        margin-bottom: 1.5rem;
        width: 6rem;
        text-align: center;
        letter-spacing: 0.25rem;
        background-color: #C2986E;
        padding: 0.75rem;
        padding-left: 1.2rem;
        border-radius: 2rem;

        &:hover {
            background-color: #A96D4F;
            cursor: pointer;
        }
    }
}

@media only screen and (max-width: 800px) {
    #details {
        #hero-container {
            margin: -1.5rem 3rem 1.5rem;
        }
        
        #details-actual {
            flex-direction: column;
            
            #datetime {
                margin-left: 0rem;
            }
            
            #time, #addr {
                margin-bottom: 2rem;
            }
        }
        
        #rsvp-link {
            margin-top: 0;
        }
    }
}
