html, body {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

form {
    display: flex;
    flex-flow: column nowrap;
    align-items: left;
    justify-content: flex-start;
    text-align: left;
    width: 20rem;
    transition: 1s;

    p {
        text-align: center;
        font-size: 1rem;
        margin-top: 1.75rem;
        margin-bottom: 0.5rem;
        letter-spacing: 0.375rem;
        color: #A96D4F;
        font-family: 'Helvetica Neue', sans-serif;
        font-weight: 300;
        text-transform: uppercase;

        &:first-of-type {
            margin-top: 0;
        }
    }

    .formRow {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;

        input {
            width: 100%;
            padding-left: 0.75rem;
            margin: .333rem;
            border-radius: 0.333rem;
            height: 2rem;
            border: none;
            background: #ffffff;
            outline: none;
            font-family: 'Helvetica Neue', sans-serif;
            transition: 0.3s;
            color: #333333;

            &:hover {
                box-shadow: 0 0 0 0.15rem rgba(0, 0, 0, 0.333);
            }

            &:focus {
                box-shadow: 0 0 0 0.15rem #C2986E;

                &::placeholder {
                    color: black;
                }
            }
        }

        select {
            width: 100%;
            padding-left: 0.75rem;
            margin: 0.333rem;
            border-radius: 0.333rem;
            height: 2rem;
            border: none;
            outline: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: #ffffff url("data:image/svg+xml;utf8,<svg viewBox='0 0 140 140' width='16' height='16' xmlns='http://www.w3.org/2000/svg'><g><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='black'/></g></svg>") no-repeat;
            background-position: right 5px top 60%;
            font-family: 'Helvetica Neue', sans-serif;
            color: #333333;
            transition: 0.3s;

            &:hover {
                box-shadow: 0 0 0 0.15rem rgba(0, 0, 0, 0.333);
            }

            &:focus {
                box-shadow: 0 0 0 0.15rem #C2986E;

                &::placeholder {
                    color: black;
                }
            }
        }
    }

    button {
        border: none;
        margin: 1.5rem 0.333rem;
        border-radius: 0.333rem;
        letter-spacing: 0.25rem;
        padding: 0.75rem;
        background: #7DBCD8;
        font-family: 'Helvetica Neue', script;
        text-transform: uppercase;
        font-weight: 400;
        color: white;
        transition: 0.3s;

        &:hover {
            background: #4988A3;
            cursor: pointer;
        }
    }
}

@media only screen and (max-width: 800px) {
    html, body {
        font-size: 12px;
    }

    form {
        width: 100%;
        padding: 0 4rem;

        .formRow input, .formRow select, button {
            height: 3rem;
        }
    }
}

@keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
