#home {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    animation: fadeIn 1.6s;
    margin-bottom: 2rem;
    transition: 1s;

    #hero-container {
        margin: 4rem 0 2rem 0;
        width: calc(35rem * 16/9);
        height: 35rem;
        background-color: #ffffff;
        border-radius: 3.5rem;
        background: url('../assets/images/hero.jpeg');
        background-position: center -6.4rem;
        background-size: cover;
        position: relative;
        transition: 0.5s;

        #blobWithBranch {
            position: absolute;
            width: 20rem;
            right: 1rem;
            bottom: -4rem;
        }

        #blobText {
            position: absolute;
            font-family: 'Weiss', script;
            text-align: center;
            font-size: 1.75rem;
            font-weight: light;
            color: #A96D4F;
            right: 8rem;
            bottom: -2.5rem;
        }
    }
}

@media only screen and (max-width: 1200px) {
    #home {
        #hero-container {
            height: calc(60rem * 1/1.162);
            width: 60rem;
            background-size: 90rem;
        }
    }
}


@media only screen and (max-width: 800px) {
    #home {
        #hero-container {
            margin: 2rem 0 2rem 0;
            width: 30rem;
            border-radius: 3rem;
            height: calc(26rem * 5/3);
            background-position: center -9.2rem;
            background-size: 81rem;

            #blobWithBranch {
                position: absolute;
                width: 18rem;
                right: 2rem;
                bottom: -5.5rem;
            }

            #blobText {
                font-size: 1.5rem;
                right: 8.25rem;
                bottom: -4rem;
            }
        }
    }
}
