#site-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #A96D4F;
    padding: 1.5rem 6vw 3rem;
    z-index: 100;
    position: relative;
    bottom: 0;

    #footer-logo {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        flex: auto;

        img {
            width: 10rem;
        }
    }
}
