#site-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #A96D4F;
    padding: 0 6vw;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;

    #footer-logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            width: 12rem;
        }
    }
}
