#story {
    width: 100%;
    max-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    
    .content-header {
        animation: fadeIn 1.6s;
    }
    
    #story-container {
        animation: fadeIn 1.6s;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        max-width: 60rem;
        
        .img-container {
            display: flex;
            justify-content: center;
            margin-bottom: 2rem;
            
            .img-frame {
                border-radius: 2rem;
                overflow:hidden;
                width: 100%;
                aspect-ratio: 2/1;
                
                img {
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
        
        #stories {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            width: 100%;
            
            .story-text {
                width: 45%;
                color: #A96D4F;
                font-family: 'Weiss', script;
                margin-bottom: 2rem;
                
                p {
                    margin-block-end: 0;
                }
                
                .content-title {
                    text-align: left;
                    font-size: 1.25rem;
                    margin-left: 0;
                    margin-block-start: 0;
                    letter-spacing: 0.25rem;
                    text-transform: uppercase;
                }
                
                .content-body {
                    text-align: left;
                    letter-spacing: 0.02rem;
                    color: #333333;
                }
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    #story {
        #story-container {
            margin: 0 4rem;
            
            #stories {
                flex-flow: column;
                align-items: center;
                
                .story-text {
                    width: 100%;
                    margin-bottom: 4rem;
                    
                    .content-title {
                        font-size: 1.5rem;
                    }
                    
                    .content-body {
                        font-size: 1.25rem;
                    }
                }
            }
        }
    }
}